.headerOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
    position: relative;
}

.headerOptions:hover {
    .headerOptions__icon, .headerOptions__title {
        color: black;
    }
}

.headerOptions__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.headerOptions__title {
   font-size: 12px;
   font-weight: 400;
}

.headerOptions__user_btn {
    display: flex;
    justify-content:center;
    align-items: center;
}

.headerOptions__user_detail {
    background-color: #fff;
    padding: 20px;

    position: absolute;
    top: 61px;
    right: 0;
}