/*
    Khalil Nazari 
    7 Jan 2020
*/


// Sidebar
.sidebar {
    top:80px;
    position: sticky;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}


// Top
.sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
    padding-bottom: 10px;

    > img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: -20px;
        object-fit:cover;
    }

    > h2 {
        font-size: 18px;
    }


    > h4 {
        color: gray;
        font-size: 12px;
    }
    
}



// Stats
.sidebar_stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


    .sidebar_stat {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;


        > p {
            color: gray;
            font-size: 13px;
            font-weight: 600;
        }


        > .sidebar_statNumber {
            font-weight: bold;
            color: #0a66c2 !important;
        }
    }
}



// Bottom
.sidebar__bottom {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;

    > p {
        font-size: 13px;
        margin-bottom: 10px;
    }
}
 

// Recent
.sidebar_recentItem {
    display: flex;
    font-size: 13px;
    color: gray;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar_recentItem:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}


.sidebar_hash {
    margin-right: 10px;
    margin-left: 5px;
}

